.mod {
  justify-content: flex-start;
  width: 1440px;
  height: 3101px;
  background-color: rgba(255, 255, 255, 1);
  font-family: HarmonyOS_Sans_SC;
}
.body {
  position: relative;
  align-self: center;
  width: 1440px;
  height: 872px;
}
.mask {
  position: absolute;
  left: 50%;
  top: 0px;
  width: 1440px;
  height: 72px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px;
  transform: translateX(-50%);
}
.group {
  position: absolute;
  left: 50%;
  top: 16px;
  justify-content: flex-start;
  width: 1278px;
  padding: 8px 12px 35px;
  transform: translateX(-50%);
}
.hiper {
  /* position: absolute; */
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  width: 53px;
  height: 66px;
  font-family: Kalam-Bold;
  font-size: 17px;
  line-height: 33px;
  color: rgba(29, 33, 41, 1);
  text-align: left;
  white-space: normal;
  text-overflow: ellipsis;
  webkit-line-clamp: 2;
  webkit-box-orient: vertical;
}
.introduce {
  align-self: flex-end;
  margin-left: 106px;
  font-family: HarmonyOS_Sans_SC_Bold;
  font-size: 16px;
  line-height: 24px;
  color: rgba(29, 33, 41, 1);
  text-decoration: underline;
  white-space: nowrap;
}
.room {
  align-self: flex-end;
  margin-left: 32px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(29, 33, 41, 1);
  white-space: nowrap;
}
.contest {
  align-self: flex-end;
  margin-left: 32px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(29, 33, 41, 1);
  white-space: nowrap;
}
.label {
  align-self: flex-end;
  margin-left: 32px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(29, 33, 41, 1);
  white-space: nowrap;
}
.submit {
  align-self: flex-end;
  margin-left: 32px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(29, 33, 41, 1);
  white-space: nowrap;
}
.tagWrapperspace {
  text-align: center;
  position: absolute;
  top: 0px;
  right: 112px;
  justify-content: center;
  width: 104px;
  padding: 8px 0px;
  background-color: rgba(0, 0, 255, 1);
  border-radius: 4px;
}
.personalspace {
  align-self: flex-start;
  overflow: hidden;
  max-width: 80px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tagWrapperfound {
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  justify-content: center;
  width: 104px;
  padding: 6px 12px;
  border: 2px solid rgba(29, 33, 41, 1);
  border-radius: 4px;
  box-sizing: border-box;
}
.foundcontest {
  align-self: flex-start;
  overflow: hidden;
  max-width: 80px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(29, 33, 41, 1);
  white-space: nowrap;
  text-overflow: ellipsis;
}
